<%- include ("partials/header.ejs")  %> 
<body>
    <%- include ("partials/navbar.ejs") %> 
    <div class="container">
        <div class="card" id="form-perg">
            <div class="card-header">
                <h1>Realizar pergunta</h1>
            </div>
            <div class="card-body">
                <form method="post"
                action="/salvarpergunta">
                    <label>Titulo</label>
                    <input type="text" name="titulo" placeholder="Titulo" class="form-control">
                    <label>Descrição</label>
                    <textarea cols="30" rows="10" placeholder="Descreva sua pergunta" class="form-control" name="descricao"></textarea>
                    <br>
                    <button class="btn btn-success">Enviar</button>
                </form>
            </div>
        </div>
    </div>
</body>
<%- include ("partials/footer.ejs") %> 
<!-- finalizado -->